:root {
  --pink: #d0826f;
  --blue: #3b4358;
  --mainfont: "Futura 100";
  --script: "Covered By Your Grace";
}
h2 {
  font-family: var(--mainfont);
  font-size: 64px;
  text-transform: uppercase;
}

h3 {
  font-size: 46px;
  font-weight: lighter;
  font-style: italic;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: var(--mainfont);
}

/* -------------------------------------------- */
/* Logo Introduction */
/* -------------------------------------------- */

.logo {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;

  gap: 20px; /* spacing between svg + text */
}

.path {
  fill: var(--pink);
  fill-opacity: 0;
  stroke: var(--pink);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#name-1 {
  color: var(--blue);
  text-align: right;
  font-family: "Futura 100";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 120.32px */
  margin-top: -300px;
}

#name-2 {
  color: var(--blue);
  text-align: right;
  font-family: "Futura 100";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 120.32px */
  margin-top: -110px;
  padding-left: 360px;
}

#multimedia {
  color: #d0826f;
  justify-content: flex-end;
  font-family: "Futura 100";
  font-size: 36px;
  font-style: light;
  font-weight: 100;
  line-height: 94%; /* 33.84px */
  margin-top: -100px;
  padding-left: 290px;
}

.split {
  will-change: transform;
}

.char {
  display: inline-block;
}

/* -------------------------------------------- */
/* Continue Scrolling-------------------------- */
/* -------------------------------------------- */
.scrollText {
  color: var(--blue);
  margin-top: 200px;
}

/* -------------------------------------------- */
/* Introduction-------------------------- */
/* -------------------------------------------- */

.introduction {
  min-height: 500vh;
  position: relative;
  background-color: var(--blue);
  width: 100vw;
  color: white;
  overflow: clip;
}

.intro-text {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Futura 100", sans-serif;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
  z-index: 2;

  font-size: 48px;
}

.intro-line {
  display: block;
}

#human-centred {
  font-family: "Covered By Your Grace", cursive;
  display: inline-block;
  margin-right: 0.15em;
  font-size: larger;
}

.digital {
  display: inline-block;
}

#circleAnimation {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  width: 487px;
  height: 708px;
  margin: 0 auto;
  border-radius: 500px;
  background: #000;
  opacity: 0.12;
  z-index: 1;
}

/* -------------------------------------------- */
/* iphone-------------------------- */
/* -------------------------------------------- */
.part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;

  height: 100vh;
  width: 100%;
  position: relative;
}

#iphone {
  margin: 0 auto;
  width: 501.8px;
  height: 1010.1px;

  opacity: 0;
  z-index: 5;
}

#iphoneIMG-1 {
  margin: 0 auto;
  width: 490px; /* slightly smaller so it sits inside the frame */
  height: 950px;

  opacity: 0;
  z-index: 4;
}

#iphone,
#iphoneIMG-1 {
  position: sticky;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
}

.iphone img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#splitz {
  max-width: 400px;
  color: var(--blue);

  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;
  z-index: 6;
}
