body {
  font-family: "futura-100", sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}

button {
  font-family: "futura-100", sans-serif;
}

h2 {
  font-weight: lighter;
}
/* ----------------------------------- */
/* Heading----------------------------- */
/* ----------------------------------- */

.nav-bar {
  margin-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  gap: 20px;
}

.nav-bar button {
  font-weight: 450;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

#portfolio-text {
  height: 95vh;
  width: 100vw;
  margin-left: -3%;
  margin-right: -3%;
}

.centered {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  margin-left: 70px;
}

.right {
  display: flex;
  justify-content: right;
}

.left {
  display: flex;
  justify-content: left;
}

#name {
  font-size: 96px;
}

/* ----------------------------------- */
/* Img Elements----------------------- */
/* ----------------------------------- */
#smile {
  width: 150px;
  height: auto;
}

#ghost {
  width: 100px;
  height: auto;
  margin-top: -100px;
}

#lines {
  width: 150px;
  height: auto;
  z-index: 1;
  margin-top: -70px;
  margin-bottom: -70px;
}

#lines-2 {
  width: 150px;
  height: auto;
  z-index: 1;
  margin-top: -70px;
}

/* ----------------------------------- */
/* Selection-------------------------- */
/* ----------------------------------- */

#selection {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#selection a {
  text-decoration: none;
}

.seclection-btn {
  background-color: #0f7cbf;
  width: 750px;
  height: 450px;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 0.9;

  display: grid;
  place-items: center;
  color: white;
}

.seclection-btn br {
  line-height: 0;
}
